<div class="helper-menu">
  <ul>
    <!-- find sections in config.yml -->
    {% for section in site.sections %}
      <li {% if section.sub == true %}class="has-sub"{% endif %}>
        <!-- section id == post folder name/category -->
        <a href="/{{section.id}}" data-id="{{section.id}}" class="section-anchor {% if forloop.first %}top-a{% endif %}{% if forloop.last %}bottom-a{% endif %}">
          <span>{{section.title}}</span>
        </a>
        {% if section.sub == true %}
          <ul>
            {% for post in site.categories[{{section.id}}] reversed %}
              {% if post.title %}
                <li>
                  <a href="#{{post.modal-id}}"><span>{{post.title}}</span></a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

