 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/jquery.sticky.js" | prepend: site.baseurl }}"></script>

    <script>
        $(document).ready(function(){

            $("#js-sidebar").sticky({topSpacing:0});

            $('ul > li').each(function(i){
                $(this).bind('click', function(event){
                    $('.sidebar-posts ul').hide(); // hide all the other ULs
                    $('.arrow-btn').removeClass('expanded'); // remove any expanded classes
                    $(this).find('ul').toggle(); // toggle the clicked li's nested ul
                    $(this).find( '.arrow-btn' ).addClass('expanded'); // expand the arrow 
                });     
            });  

            $('ul li > ul li').each(function(i){
                $(this).bind('click', function(event){
                    $('ul li ul li').removeClass('active'); // remove any active classes
                    $(this).addClass('active') // add active class to nested link
                });     
            });  
        }); 
    </script>