 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

    <script>

        $(document).ready(function(){

            $( ".section-anchor" ).each(function( index ) {
                var page_cat = '{{page.category}}';
                var checkElement = $(this).next();
                
                if ( page_cat == $( this ).attr( "data-id" ) ) {
                    $( this ).parent().addClass( "active" );

                    if( ( checkElement.is('ul') ) ) {
                        checkElement.slideDown('normal');
                    }
                }
            });
        }); 
    </script>