<!-- Menu structure courtesy of https://developer.github.com/v3/ -->
<div class="sidebar-module">
  <ul class="sidebar-posts">
    <!-- find sections in config.yml -->
    {% for section in site.sections %}
      <li>
        <h4>
          <a class="arrow-btn" href="#{{section.id}}"></a>
          <a href="#{{section.id}}">{{section.title}}</a>
        </h4>
        <ul class="tier2">
          <!-- section id == post folder name/category -->
          {% for post in site.categories[{{section.id}}] reversed %}
            <li>
              <a href="#{{post.modal-id}}">{{post.title}}</a>
            </li>
          {% endfor %}
         </ul>
      </li>
    {% endfor %}
  </ul>
</div>
