<!-- Menu idea and segments of code courtesy of https://developer.github.com/v3/ -->
<div id="js-sidebar" class="sidebar-shell">
  <div class="sidebar-module">
    <ul class="sidebar-posts">
      <li>
        <h4>
          <a class="arrow-btn" href="#"></a>
          <a href="#working-with-branches">Working with branches</a>
        </h4>
        <ul class="tier2">
          <li><a href="#the-branches-index">The branches index</a></li>
          <li><a href="#working-with-branch-maps">Branch maps</a></li>
          <li><a href="#branch-searching">Branch searching</a></li>
          <li><a href="#branch-titles-and-pagination">Titles and pagination</a></li>
          <li><a href="#the-branch-show">The branch show</a></li>
          <li class="tier3-top-level">
            <h4>
              <a class="arrow-btn tier2-a tier2-a-expanded" href="#"></a>
              <a href="#displaying-branch-properties" class="tier2-a">Branch properties</a>
            </h4>
            <ul class="tier3">
              <li><a href="#recent-sales-and-lettings" class="tier2-a">Recent sales and lettings </a></li>
              <li><a href="#all-branch-properties" class="tier2-a">All branch properties</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
