@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
.helper-menu,
.helper-menu ul,
.helper-menu li,
.helper-menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
.helper-menu a {
  outline: 0;
}
.helper-menu a:hover,
.helper-menu a:active {
  color: #48b5cc;
}
.helper-menu {
  min-width: 20%;
  max-width: 100%;
  background: #fff;
  margin-top:30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.helper-menu > ul > li {
  border-bottom: 1px solid #eee;
}
.helper-menu > ul > li:last-child {
  margin: 0;
  border-bottom: none;
}
.helper-menu > ul > li > a {
  display: block;
  color: #ff6600;
  background: #fff;
}
.helper-menu > ul > li .top-a {
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}
.helper-menu > ul > li .bottom-a {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}
.helper-menu > ul > li > a > span {
  display: block;
  padding: 11px 0 9px 24px;
  font-weight: bold;
}
.helper-menu > ul > li > a:hover {
  text-decoration: none;
}
.helper-menu > ul > li.active {
  border-bottom: none;
}
.helper-menu > ul > li.active > a {
  background: #f2f2f2;
  color: #48b5cc;
}
.helper-menu > ul > li.active > .bottom-a {
  border-radius: 0;
}
.helper-menu > ul > li.active > a span {

}
.helper-menu > ul > li.has-sub > a span:before,
.helper-menu > ul > li.has-sub.active > a span:before {
  background-image: url("../img/expand-arrows.png");
  background-repeat: no-repeat;
  height: 31px;
  width: 25px;
  content:'';
  position: absolute;
}
.helper-menu > ul > li.has-sub > a span:before {
  top: -4px;
  left: -5px;
}
.helper-menu > ul > li.has-sub.active > a span:before {
  background-position: -38px -1px;
}
/* Sub menu */
.helper-menu ul ul {
  display: none;
}
.helper-menu ul ul li {
  padding: 10px 0 8px;
  border-bottom: 1px solid #eee;
}
.helper-menu ul ul a {
  display: block;
  color: #3a3a3a;
  font-size: 13px;
  font-weight: bold;
  padding-left: 26px;
}