<!DOCTYPE html>
<html>
  	{% include head.html %}
    <body id="page-top" class="index">
    	{% include header.html %}
	    <div class="full-width" id="content-span">
			<div id="content-inner">
			    <div class="container content fixed-width">
			    	<div class="row">
					    <div class="col-lg-9 col-md-9">
					    	<div id="mobile-menu">
					    		{% include helper-menu.html %}
					    	</div>
					    	<section>
					    		<h3>Homeflow</h3>
					    		<div class="api-item" id="overview">
						    		<h3>{{page.title}}</h3>
						    		{{ content }}
						    	</div>
					    	</section>
					    </div>
					    <div class="col-lg-3 col-md-3">
					    	<div id="side-menu">
					     		{% include sidebar.html %}
					     	</div>
					    </div>
					</div>
				</div>	        	
			</div>
		</div>
	    {% include footer.html %}
	    {% include js.html %}
    </body>
</html>